body {
  background-color: #0a0a0a;
  color: #ede6e6;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-yellow {
  background-color: #c8a96a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-gray {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

/* wrapper password */
.password-wrapper {
  position: relative;
}

/* icon maso */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

/* forgot password */
.forgot-password {
  font-size: 12px;
  color: #c8a96a;
  cursor: pointer;
  text-align: right;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* inline css */
.ant-form-item-label > label {
    color: white!important; /* change la couleur */
}

.ant-typography {
    color: white!important; /* change la couleur */
}