body {
  background-color: #ffffff;
  color: #0e0e0e;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-yellow {
  background-color: #c8a96a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn-gray {
  background-color: gray;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}

/* wrapper password */
.password-wrapper {
  position: relative;
}

/* icon maso */
.toggle-password {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  user-select: none;
}

/* forgot password */
.forgot-password {
  font-size: 12px;
  color: #c8a96a;
  cursor: pointer;
  text-align: right;
}

.forgot-password:hover {
  text-decoration: underline;
}

/* inline css */
.ant-form-item-label > label {
    color: rgb(148, 148, 148)!important; /* change la couleur */
}

.ant-typography {
    color: rgb(148, 148, 148)!important; /* change la couleur */
}

/* Signup styles start*/
.btn-signup {
  background-color: #2d2d2c;
  color: #c8a96a; /* gold */
  padding: 10px;
  border: 1px solid #c8a96a;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  transition: all 0.3s ease;
}

.btn-signup:hover {
  background-color: #c8a96a;
  color: #fff;
}

.signup-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row .ant-form-item {
    flex: 1;
}

.notification-confirm {
    color:rgb(148, 148, 148);
}
/* signup end */